@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-play {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-play h1 {
  margin-top: 100px;
  margin-bottom: 30px;
  width: 308px;
  color: #000000;
  font-family: "Kanit", serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  text-align: center;
}
.container-play h1 span {
  color: #91CCAF;
}
@media (min-width: 1280px) {
  .container-play h1 {
    margin-top: 130px;
  }
}

.container-play .hands {
  position: fixed;
  bottom: -80px;
  margin-top: 86px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: end;
}