.container-play {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-play h1 {
  margin-top: 100px;
  margin-bottom: 30px;
  width: 308px;
  color: #000000;
  font-family: "Kanit", serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  text-align: center;
}
.container-play h1 span {
  color: #91CCAF;
}
@media (min-width: 1280px) {
  .container-play h1 {
    margin-top: 130px;
  }
}

.container-play .hands {
  position: fixed;
  bottom: -80px;
  margin-top: 86px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: end;
}