.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-home h1 {
  margin-top: 100px;
  margin-bottom: 60px;
  width: 308px;
  color: #009048;
  font-family: "Kanit", serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 70px;
}
.container-home h1 span {
  color: #91CCAF;
}
@media (min-width: 1280px) {
  .container-home h1 {
    margin-top: 130px;
  }
}

.container-home .hands {
  position: fixed;
  bottom: -80px;
  margin-top: 86px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: end;
}